<div class="wrapper">
    <div class="content-wrapper">
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Category</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">Category</li>
                        </ol>
                    </div>
                </div>
            </div>
        </section>
        <section class="content">
            <div class="container-fluid">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Kategory Ekle</h3>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label for="categoryInput">Email address</label>
                            <input type="text" class="form-control" id="categoryInput" placeholder="Enter email">
                        </div>
                        <br>
                        <br>
                        <h2>Kategoriler</h2>
                        <div class="row">
                            @for (list of parentList ; track list;let categoryIndex =$index ) {
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <div class="scrollable-div card">
                                        <ul>
                                            @for (parentCategory of list ; track parentCategory; let parentIndex=$index)
                                            {
                                            <li (click)="getByParentCategoryId(parentCategory.id,categoryIndex)">
                                                {{parentCategory.name}}</li>
                                            }
                                           
                                        </ul>
                                    </div>
                                </div>
                                @if (categoryIndex >0) {
                                <button class="btn btn-primary btn-sm mb-1 ms-1" data-toggle="modal"
                                    style="width: 100%;" data-target="#AddCategoyModal"
                                    [disabled]="categoryIndex !== parentList.length - 1">
                                    Ekle</button>

                                }
                                @else if (categoryIndex===0) {
                                <button class="btn btn-primary btn-sm mb-1 ms-1" data-toggle="modal"
                                    style="width: 100%;" data-target="#AddMainCategoyModal"
                                    [disabled]="categoryIndex !== parentList.length - 1">
                                    Ekle</button>
                                }
                            </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<div class="modal fade" id="AddCategoyModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Kategori Ekle</h1>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                    (click)="clearCreateCategoryModel()" #addCategoryModalCloseBtn>
                    <span aria-hidden="true">&times;</span></button>
            </div>
            <form #addCategoryForm="ngForm" formValidate autocomplete="off"
                (ngSubmit)="createCategory(addCategoryForm)">
                <div class="modal-body">
                    <div class="form-group mt-1">
                        <label>Kategori Adı</label>
                        <input type="text" required minlength="1" id="categoryName" class="form-control"
                            [(ngModel)]="category.name" name="categoryName">
                        <div class="invalid-feedback"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="AddMainCategoyModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Ana Kategori Ekle</h1>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                    (click)="clearCreateMainCategoryModel()" #addMainCategoryModalCloseBtn>
                    <span aria-hidden="true">&times;</span></button>
            </div>
            <form #addMainCategoryForm="ngForm" formValidate autocomplete="off"
                (ngSubmit)="createMainCategory(addMainCategoryForm)">
                <div class="modal-body">
                    <div class="form-group mt-1">
                        <label>Kategori Adı</label>
                        <input type="text" required minlength="1" id="mainCategoryName" class="form-control"
                            [(ngModel)]="category.name" name="mainCategoryName">
                        <div class="invalid-feedback"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>