<div class="wrapper">
    <div class="content-wrapper">
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Category</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">Category</li>
                        </ol>
                    </div>
                </div>
            </div>
        </section>
        <section class="content">
            <div class="container-fluid">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Kategory Ekle</h3>
                    </div>

                    <div class="card-body">

                        <div class="form-group">
                            <label for="categoryInput">Email address</label>
                            <input type="text" class="form-control" id="categoryInput" placeholder="Enter email">
                        </div>
                        <br>
                        <br>

                        <h4>Ana Kategori</h4>
                        <div class="row">
                            <div class="col-sm-9">
                                <div class="form-group">
                                    <select class="form-control" (change)="GetByCategoryId($event)">
                                        <option value="">Seçiniz...</option>
                                        @for (mainCategory of mainCategories; track mainCategory) {
                                        <option [value]="mainCategory.id">{{mainCategory.name}}</option>
                                        }

                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <button type="button" style="width: 100%;" class="btn btn-primary">Ana Kategori
                                    Ekle</button>
                            </div>
                        </div>
                        <h6>Alt Kategoriler</h6>
                        <div class="row">
                            @for (item of parentList; track item;let categoryIndex =$index) {
                            <div class="col-sm-3">
                                <div  class="form-group">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="categoryInput"
                                            placeholder="Kategori ara">
                                    </div>
                                    <div class="scrollable-div card">
                                        <ul>
                                            @for (parentCategory of item; track $index) {
                                            <li (click)="getByParentCategoryId(parentCategory.id,categoryIndex)">
                                                {{parentCategory.name}}</li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                                <button type="button" style="width: 100%;" class="btn btn-primary">Ekle</button>
                            </div>
                            }
                        </div>
                    </div>

                    <div class="card-footer">
                        <button type="button" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>